<div id="ChartContainer" *ngIf="access; else noAccess">
    <h1><i class="fas fa-chart-bar"></i>&nbsp;Statisticile site-ului</h1>
    <div id="ChartWrapper">
        <div id="ChartSizeForcer">
            <canvas *ngIf="chartState == 0" baseChart [data]="barChartData" [type]="'bar'"> </canvas>
            <canvas *ngIf="chartState == 1" baseChart [data]="pieChartData" [type]="'pie'"> </canvas>
        </div>
        <button (click)="changeType()">Schimbă afișarea datelor</button>
    </div>
</div>
<ng-template #noAccess>
    <app-no-access></app-no-access>
</ng-template>
