#ChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    max-width: 600px;

    #ChartWrapper {
        display: flex;
        flex-direction: column;
        width: 600px;
        max-width: 600px;
        padding: 32px 32px;
        border-radius: 16px;
        box-shadow: 0px 0px 3px #cbcbcb;
        background-color: #fff;

        button {
            font-size: 10px;
            padding: 8px;
            align-self: flex-end;
            margin: 0;
            margin-top: 16px;
        }

        #ChartSizeForcer {
            display: flex;
            justify-content: center;
            max-height: 300px;
        }
    }
}
