<div id="UserDetails" *ngIf="valid; else notFound">
    <h1>
        <i *ngIf="user.role == 'USER'" class="fas fa-user-circle"></i>
        <i *ngIf="user.role == 'MODERATOR'" class="fas fa-shield-alt"></i>
        <i *ngIf="user.role == 'ADMIN'" class="fas fa-wrench"></i>
        {{user.name}}</h1>
    <h4><i class="fas fa-envelope-square"></i>&nbsp; {{user.email}}</h4>
    <button *ngIf="access" (click)="logout()"><i class="fas fa-door-open"></i> Delogare</button>
    <app-articles [id-author]="user.id"></app-articles>
</div>
<ng-template #notFound>
    <app-page-not-found *ngIf="loaded"></app-page-not-found>
</ng-template>
