#LoginWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#RegisterWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
