:host {
    width: 100%;
}

#MainArticleFormWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: flex-start;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
    }
}

#ArticleFormWrapper, #ArticlePreviewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;

    h1 {
        color: var(--color-muted2);
    }
}

#Submit {
    width: 85%;
    max-width: 85%;
    align-self: center;
}
