#PopupWrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: #222222e4;
    width: 100%;
    height: 100%;
}

#Popup {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 25%;
    align-items: center;
    justify-content: center;
    text-align: justify;

    @media only screen and (max-width: 800px) {
        text-align: center;
    }

    #Icon {
        color: var(--color-muted1);
        font-size: 48px;
    }

    h1 {
        color: var(--color-muted1);
    }
    
    #Accept {
        color: var(--color-muted1);
        background: var(--color-accept);
        width: 200px;
    }

    #Cancel {
        color: var(--color-muted1);
        background: var(--color-cancel);
        width: 200px;
    }
}
