<div id="MainWrapper">
    <header>
        <div id="Header">
            <div id="HeaderMenuLeft">
                <a href="/index.html">
                    <h1 class="dm-serif"><i class="fas fa-icons"></i>&nbsp;&nbsp;laModă</h1>
                </a>
            </div>
            <div id="HeaderMenuCenter">
                <app-navbar></app-navbar>
                <input type="text" name="searchText" [(ngModel)]="searchText" placeholder="Caută articole" (keydown.enter)="search()">
            </div>
            <div id="HeaderMenuRight">
                <div id="HeaderMenuInner" *ngIf="user != undefined; else noUser">
                    <a href="/article/create" class="button"><i class="fas fa-plus"></i>&nbsp;Articol Nou</a>
                    <!-- TODO: NOTIFICATIONS -->
                    <!-- <a href="#"><i class="fas fa-bell button"></i></a> -->
                    <a href="user/{{ user.id }}"><i class="fas fa-user-circle button"></i></a>
                </div>
                <ng-template #noUser>
                    <a href="user/login" class="button"><i class="fas fa-sign-in-alt"></i>&nbsp;Contul tău</a>
                </ng-template>
            </div>
        </div>
    </header>
    <section id="MainAppGrower">
        <div id="MainApp" *ngIf="connected; else buffering">
            <div id="StatusBar" *ngIf="hasStatus()">
                <p><i class="fas fa-info-circle"></i>&emsp;&emsp; {{ getStatus() }}</p>
            </div>
            <router-outlet></router-outlet>
        </div>
        <ng-template #buffering>
            <div id="Buffer">
                <div id="StatusBar" *ngIf="hasStatus()">
                    <p><i class="fas fa-info-circle"></i>&emsp;&emsp; {{ getStatus() }}</p>
                </div>
                <div id="ConnectionBuffering">
                    <h1>Se încarcă...</h1>
                    <div id="BufferSpinIcon">
                        <i class="fas fa-sync"></i>
                    </div>
                </div>
            </div>
        </ng-template>
    </section>
    <footer>
        <div id="Footer">
            <div id="FooterLinks">
                <p class="dm-serif"><i class="fas fa-icons"></i>&nbsp;&nbsp;laModă <b>alpha</b></p>
                <span>|</span>
                <a href="/terms">Termeni și condiții</a>
                <span>|</span>
                <a href="/privacy">Politica de confidențialitate</a>
            </div>
            <p class="lobster-regular"><i class="fas fa-heart"></i> Made with lots of cola by Rareș Bozga</p>
        </div>
    </footer>
</div>
<app-popup></app-popup>
