<div id="MainWrapper">
    <header>
        <div id="Header">
            <a href="/index.html">
                <h1 class="dm-serif"><i class="fas fa-icons"></i>&nbsp;&nbsp;laModă</h1>
            </a>
            <div id="HeaderMenu">
                <!-- TODO: SLEEK SEARCH BAR -->
                <a href="/article/create" class="button"><i class="fas fa-plus"></i>&nbsp;Articol Nou</a>
                <!-- TODO: TRENDING POSTS -->
                <a href="#"><i class="fas fa-fire-alt"></i></a>
                <!-- TODO: NOTIFICATIONS -->
                <a href="#"><i class="fas fa-bell"></i></a>
                <!-- TODO: MAKE ALL THIS USER-AWARE -->
                <!-- CHANGE TO CURRENT USER, NOT ALWAYS ADMIN -->
                <a href="user/1"><i class="fas fa-user-circle"></i></a>
            </div>
        </div>
    </header>
    <app-navbar></app-navbar>
    <section id="MainAppGrower">
        <div id="MainApp">
            <div id="StatusBar" *ngIf="hasStatus()">
                <p><i class="fas fa-info-circle"></i>&emsp;&emsp; {{ getStatus() }}</p>
            </div>
            <router-outlet></router-outlet>
        </div>    
    </section>
    <footer>
        <div id="Footer">
            <div id="FooterLinks">
                <p class="dm-serif"><i class="fas fa-icons"></i>&nbsp;&nbsp;laModă <b>alpha</b></p>
                <span>|</span>
                <a href="/terms">Termeni și condiții</a>
                <span>|</span>
                <a href="/privacy">Politica de confidențialitate</a>
            </div>
            <p class="lobster-regular"><i class="fas fa-heart"></i> Made with lots of cola by Rareș Bozga</p>
        </div>
    </footer>
</div>
